* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar{
    background: red;
    height: 80px;
    display: flex;
    justify-content: right;
    align-items: center;

}

a {
    text-decoration: none;
}

.code {
    /* display: none; */
}


.nav-item {
    color: white;
    /* text-decoration: none; */
    font-size: 25px;
    padding: 15px;
    /* border: 1px solid black; */
    margin: 15px;
}

#welcome-section {
    background: black;
    height: 100vh;
}

.tag {
    font-style: italic;
}

.welcome-section {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1cm;
}

#projects-grid {
    background: rgb(84, 115, 254);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    /* align-items: center; */
    /* height: 85vh; */
}

.project {
    /* border: 1px solid rgb(16, 16, 16); */
    background: slategray;
    text-align: center;
    /* height: 500px; */
    /* width: 30%; */
    margin: 10px;
    padding: 15px;
}

.project-image {
    height: 400px;
    width: 400px;
}

.project-title {
    /* padding: 8px; */
    color: white;
    font-size: larger;
    align-items: center;
    align-content: center;
}


.extend {
    background: red;
    padding: 15px;
    border-radius: 15px;
    font-size: large;
    color: white;
    margin-top: 20px;
}

#contact {
    /* align-items: center; */
    text-align: center;
}

h2 {
    font-size: 1cm;
}

.inquiry {
    font-size: large;
    font-style: italic;
    padding: 5px;
}