* {
    margin: 0px;
    padding: 0px;
}

#navbar{
    background: red;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;

}

.nav-item {
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 15px;
}

#welcome-section {
    background: black;
    height: 60vh;
}

.welcome-section {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1cm;
}