* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar{
    background: #AEB4BF;
    height: 70px;
    display: flex;
    justify-content: right;
    align-items: center;

}

a {
    text-decoration: none;
}

.code {
    /* display: none; */
}


.nav-item {
    color: #434343;
    /* text-decoration: none; */
    font-size: 25px;
    padding: 15px;
    /* border: 1px solid black; */
    margin: 15px;
}

.nav-item:hover {
    background:#8C1C31;
    color: white;
}

#welcome-section {
    background: #262626;
    height: 100vh;
}

.tag {
    font-style: italic;
}

.welcome-section {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1cm;
}

#projects-grid {
    background: #8C1C31;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    /* align-items: center; */
    /* height: 100vh; */
}

.project {
    /* border: 1px solid rgb(16, 16, 16); */
    background: linear-gradient(to top right, #AEB4BF, rgba(30, 29, 29, .5));
    text-align: center;
    /* height: 500px; */
    /* width: 30%; */
    margin: 10px;
    padding: 15px;
}

.project-image {
    height: 400px;
    width: 400px;
}

.project-title {
    /* padding: 8px; */
    color: white;
    font-size: larger;
    align-items: center;
    align-content: center;
}

.extend {
    background: #8C1C31;
    justify-content: center;
    display: flex;
}

.extend-button {
    background: #AEB4BF;
    text-align: center;
    padding: 15px;
    width: fit-content;
    border-radius: 10px;
    font-size: large;
    color: white;
    margin: 20px;
    max-height: 25px;
    display: block;
}

#contact {
    background: #262626;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 50px;
    color: white;
}

h2 {
    font-size: 1.5cm;
}

.inquiry {
    font-size: large;
    font-style: italic;
    padding: 5px;
}

.socials{
    padding: 10px;
    width: 100%;
}

.fab {
    font-size: 1.5rem;
    margin: 25px;
    padding: 5px;
    color: white;
}


.media-item {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    margin: 15px;
    padding: 5px;
}

.foot {
    text-align: center;
    padding: 25px;
    background:#AEB4BF;
    color: #434343;
}